{{/* Set title of the page here! */}}
{{ $title := "Your decks" }}

<!doctype html>
<html>
  <head>
    {{ template "head" }}
    <title>{{ $title }}</title>
  </head>

  <body>
    {{/* Set title of the page here! */}}
    {{ with $title := $title }}
      {{ template "navbar" .}}
    {{ end }}

    <div class="container-fluid"> {{/* Your page content here */}}

    </div> <!-- Close container -->

    {{/* Import stylesheets and css stuff */}}
    {{ template "style_css"}}
  </body>
</html>
