{{/* Set title of the page here! */}}
{{ $title := "Admin" }}

<!doctype html>
<html>
  <head>
    {{ template "head" }}
    <title>{{ $title }}</title>
  </head>

  <body>
    {{/* Set title of the page here! */}}
    {{ with $title := $title }}
      {{ template "navbar" .}}
    {{ end }}

    <div class="container-fluid"> {{/* Your page content here */}}

      <div class="row">
        <div class="col-md-3">

      <h3>Memory stats:</h3>
      <table class="table">
        <tr>
          <td> <b>Alloc</b> <br /> (Bytes that were allocated and still in use)</td>
          <td>{{ .memstats.Alloc }}kB</td>
        </tr>
        <tr>
          <td> <b>TotalAlloc</b> <br /> (Total bytes allocated throughout the lifetime)</td>
          <td>{{ .memstats.TotalAlloc }}kB</td>
        </tr>
        <tr>
          <td> <b>HeapAlloc</b> <br /> (Bytes being used on the heap right now)</td>
          <td>{{ .memstats.HeapAlloc }}kB </td>
        </tr>
        <tr>
          <td> <b>HeapSys</b> <br /> (What is being used by the heap and what has been reclaimed but not given back out)</td>
          <td>{{ .memstats.HeapSys }}kB</td>
        </tr>
      </table>

        </div>
        <div class="col-md-3">
          <h3>User activity count:</h3>
          <ul>
            <li>Total users: {{ .users_count }}</li>
            <li>Total decks: {{ .decks_count }}</li>
            <li>Total flashcards: {{ .flashcards_count }}</li>
          </ul>
        </div>

      </div> <!-- Closes div row -->

    </div> <!-- Close container -->

    {{/* Import stylesheets and css stuff */}}
    {{ template "style_css"}}
  </body>
</html>
