{{/* Set title of the page here! */}}
{{ $title := "Compilation failed!!" }}

<!doctype html>
<html>
  <head>
    {{ template "head" }}
    <title>{{ $title }}</title>
  </head>

  <body>
    {{/* Set title of the page here! */}}
    {{ with $title := $title }}
      {{ template "navbar" .}}
    {{ end }}

    <div class="container-fluid"> {{/* Your page content here */}}
      <h3>Compilation of deck '{{ .deck.Title }}' <span style="color:red">FAILED</span> </h3>

      <div class="compilation-fail-log">
	<pre>
	  {{ .compilation_log }}
	</pre>
      </div>

      <h3>You might want to go back to deck <a href="/deck/view/{{.deck.ID}}">{{.deck.Title}}</a> edit your last created cards</h3>
      

    </div> <!-- Close container -->

    {{/* Import stylesheets and css stuff */}}
    {{ template "style_css"}}
  </body>
</html>
