{{/* Set title of the page here! */}}
{{ $title := "Explore public decks" }}

<!doctype html>
<html>
  <head>
    {{ template "head" }}
    <title>{{ $title }}</title>
  </head>

  <body>
    {{/* Set title of the page here! */}}
    {{ with $title := $title }}
      {{ template "navbar" .}}
    {{ end }}

    <div class="container-fluid"> {{/* Your page content here */}}
      <h1>All the public decks:</h1>
      <ul>
        {{ range $index, $pair := .data }}
          <li><a href="/deck/export/{{$pair.Deck.ID}}">{{$pair.Deck.Title}}</a> by <a href="/users/view/{{$pair.Author.Username}}">{{$pair.Author.Username}}</a></li>
        {{ end }}
      </ul>

    </div> <!-- Close container -->

    {{/* Import stylesheets and css stuff */}}
    {{ template "style_css"}}
  </body>
</html>
