{{/* Set title of the page here! */}}
{{ $title := "Your decks" }}

<!doctype html>
<html>
  <head>
    {{ template "head" }}
    <title>{{ $title }}</title>
  </head>

  <body>
    {{ with $title := $title }}
      {{ template "navbar" . }}
    {{ end }}

    <div class="container-fluid"> {{/* Your page content here */}}



  <form method="post" action="/deck/save">
    <div class="form-group">
    <label for="title">Title of the deck</label>
    <input type="text" class="form-control" id="deck-name" placeholder="Title of the deck.." name="title">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="deck-description" placeholder="This deck is about..." name="description">
  </div>


  <div class="form-group">
    <label>
        This deck is public <input type="checkbox" name="public"/>
    </label>
  </div>


  {{/*
  <div class="form-group">
    <label for="public">Do you want this deck to be public or private?</label>
    <label class="radio-inline">
       <input type="radio" name="public" id="public" value="true"> Public
    </label>

    <label class="radio-inline">
      <input type="radio" name="public" id="public" value=""> Private
    </label>
  </div>
  */}}






  <button type="submit" class="btn btn-default">Submit</button>
</form>




    </div> <!-- Close container -->

    {{/* Import stylesheets and css stuff */}}
    {{ template "style_css"}}
  </body>
</html>
