{{/* Set title of the page here! */}}
{{ $title := "View Deck" }}

<!doctype html>
<html>
  <head>
    {{ template "head" }}
    <title>{{ $title }} {{.Title }}</title>
  </head>

  <body>
    {{/* Set title of the page here! */}}
    {{ with $title := (printf "%s %q" $title .deck.Title) }}
      {{ template "navbar" .}}
    {{ end }}

    <div class="container-fluid"> {{/* Your page content here */}}
      <h4>Deck "{{.deck.Title}}" &mdash; <span class="deck-description">{{.deck.Description}}</span></h4>

      <div class="row">

        <div class="col-md-9">
          <ul>
            {{range $card := .cards }}
            <li><a href="/flashcard/view/{{$card.ID}}">{{ $card.Title }}</a></li>
            {{ else }}
            <li>You don't have any cards in this deck yet. <a href="/flashcard/create?deck={{.deck.ID}}">Create one</a></li>
            {{ end }}
          </ul>
        </div>

        <div class="col-md-3">
          <ul style="list-style-type: none;">
            <li><a href="/flashcard/create?deck={{.deck.ID}}">Add a card to this deck</a></li>
            <li><a href="/deck/export/{{.deck.ID}}" target="_blank">Export this deck</a></li>
            <li><a href="/deck/list">Go back to my decks</a></li>
            <li>&nbsp;</li>
            <li><a href="#">Delete this deck</a></li>
        </ul>
        </div>

      </div>
    </div> <!-- Close container -->

    {{/* Import stylesheets and css stuff */}}
    {{ template "style_css"}}
  </body>
</html>
