{{/* Set title of the page here! */}}
{{ $title := "Your decks" }}

<!doctype html>
<html>
  <head>
    {{ template "head" }}
    <title>{{ $title }}</title>
  </head>

  <body>
    {{ with $title := $title }}
      {{ template "navbar" . }}
    {{ end }}

    <div class="container-fluid"> {{/* Your page content here */}}
      <h3>My Decks</h3>

      <ul>
      {{ if .decks}}
        {{ range $deck := .decks }}
          <li><a href="/deck/view/{{$deck.ID}}">{{$deck.Title}}</a></li>
        {{end }}
          <li><a href="/deck/create">Add a new deck</a></li>
      {{ else }}
        <li>You haven't created a deck yet. <a href="/deck/create"> Create one </a> </li>
      {{ end }}
      </ul>

    </div> <!-- Close container -->

    {{/* Import stylesheets and css stuff */}}
    {{ template "style_css"}}
  </body>
</html>
