<!doctype html>
<html>
  <head>
    {{ template "head" }}
    <title>Sample Flash-Card</title>
  </head>

  <body>
    {{ with $title := .title }}
      {{ template "navbar" .}}
    {{ end }}

    <div class="container-fluid">

      <form method="POST" action="/flashcard/save" name="">

      <div class="row">
	       <div class="col-md-12">
	        <h4>Front:</h4>
	       </div>
      </div>

      <div class="row">
        <div class="col-md-6">
	         <textarea id="front-source-code" name="front"
			        onLoad="javascript:update_front()"
			        onInput="javascript:update_front()"
			        class="latex-input-area"></textarea>
	     </div> <!-- Close col-md-6 -->
       <div class="col-md-6">
         <div id="front-render-target"></div>
       </div>
     </div>

       <div class="row">
         <div class="col-md-12">
           <h4>Back:</h4>
         </div>
       </div>

       <div class="row">
	        <div class="col-md-6">
	           <textarea id="back-source-code"
               name="back" required="true"
		           onLoad="javascript:update_back()"
		           onInput="javascript:update_back()"
		           class="latex-input-area"></textarea>
             </div>

          <div class="col-md-6">
	           <div id="back-render-target" style="text-align: center; vertical-align: middle;"></div>
	        </div> <!-- Close col-md-6 -->
      </div> <!-- Close row -->

      <div class="row flashcard-create-buttons">
        <div class="col-md-2">
          <span>Deck: </span>
          <select class="form-control" name="deck_id" required="true">
            {{$idx := .deck_id}}
            {{ range $index, $deck := .user_decks }}
              <option value="{{$deck.ID}}" {{ if eq $idx $deck.ID }} selected="true"{{end}} > {{ $deck.Title }}</option>
            {{ end }}
          </select>
        </div>
        <div class="col-md-7"></div>
        <div class="col-md-3" style="text-align: right;">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Flashcard title" aria-describedby="basic-addon1" name="title" required="true">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Save <span class="glyphicon glyphicon-floppy-save"></span></button>
            </span>
          </div>
        </div>
      </div>

      </form>

    </div> <!-- Close container -->
    {{ template "style_css"}}


  </body>
</html>
