{{/* Set title of the page here! */}}
{{ $title := "View card"}}

<!doctype html>
<html>
  <head>
    {{ template "head" }}
    <title>View card -- {{ .card.Title }}</title>
  </head>

  <body>
    {{/* Set title of the page here! */}}
    {{ with $title := $title }}
      {{ template "navbar" .}}
    {{ end }}

    <div class="container-fluid"> {{/* Your page content here */}}

      <h3> Flashcard: "{{ .card.Title }}"</h3>
      <div class="row">
        <div class="col-md-9">
      <table class="table table-striped" style="text-align: center;">
        <tr>
          <td> Title </td> <td>Front</td>  <td>Back</td>
        </tr>
        <tr >
          <td style="vertical-align: middle;  height:210px;">
            {{ .card.Title }}
          </td>

          <td style="vertical-align: middle;  height:210px; width: 400px;">
            {{ .card.Front }}
          </td>
          <td style="vertical-align: middle; height:210px; width: 400px;">
            {{ .card.Back }}
          </td>
        </tr>
      </table>

      </div>
      <div class="col-md-3">
        <ul style="list-style-type: none;">
          <li><a href="/deck/view/{{.card.DeckID}}">Go back to deck</a></li>
	  <li><a href="/flashcard/create?deck={{.card.DeckID}}">Add another card to this deck</a></li>
          <li><a href="/flashcard/edit/{{.card.ID}}">Edit this card</a></li>
          <li><a href="/deck/list">Go back to my decks</a></li>
          <li>&nbsp;</li>
          <li><a href="#">Delete this flashcard from deck.</a></li>
      </ul>
      </div>

    </div> <!-- Close row -->

    </div> <!-- Close container -->

    {{/* Import stylesheets and css stuff */}}
    {{ template "style_css"}}
  </body>
</html>
