{{/* Set title of the page here! */}}
{{ $title := "Login" }}

<!doctype html>
<html>
  <head>
    {{ template "head" }}
    <title>{{ $title }}</title>
  </head>

  <body>

    <div class="container" style="padding-top: 80px;">
        <div class="row" >

          <div class="col-md-4"></div>



            <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
                <legend><span class="glyphicon glyphicon-user"></span> Log-in </legend>
                <br />

                <form action="/login" method="post" class="form" role="form">
                <br />


                <input class="form-control"
                       name="username"
                       placeholder="Username"
                       required="true"
                       type="text" />
                <br />


                <input class="form-control"
                       name="password"
                       required="true"
                       placeholder="Password"
                       type="password" />
                <br />

                <br />
                <br />

                <button class="btn btn-lg btn-default btn-block"
                        type="submit">
                        Login
                </button>

                </form>

                <br />

                <p>
                   <b>Pssst!!</b>For a sneak peak, try logging in with user
                   <i>demo</i> and password <i>demo</i>.
                   Otherwise, <a href="/signup">sign up</a>!
                </p>

            </div>


            <div class="col-md-4"></div>


        </div>
    </div>  <!-- Close container -->

    {{/* Import stylesheets and css stuff */}}
    {{ template "style_css"}}
  </body>
</html>
