{{/* Set title of the page here! */}}
{{ $title := "Sign-up!" }}

<!doctype html>
<html>
  <head>
    {{ template "head" }}
    <title>{{ $title }}</title>
  </head>

  <body>

    <div class="container" style="padding-top: 80px;">
        <div class="row" >

          <div class="col-md-4"></div>



            <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
                <legend><span class="glyphicon glyphicon-user"></span> Sign up!</legend>
                <br />

                <form action="/signup" method="post" class="form" role="form">
                <br />


                <input class="form-control"
                       name="username"
                       placeholder="Username"
                       required="true"
                       type="text" />
                <br />


                <input class="form-control"
                      name="email"
                      placeholder="Email"
                      required="true"
                      type="email" />
                <br />

                <input class="form-control"
                       name="password"
                       required="true"
                       placeholder="Password"
                       type="password" />
                <br />

                {{/*
                <input class="form-control"
                       name="password_confirm"
                       required="true"
                       placeholder="Confirm password"
                       type="password" />
                <br />
                */}}


                <br />
                <br />

                <button class="btn btn-lg btn-default btn-block"
                        type="submit">
                        Sign up
                </button>

                </form>
            </div>


            <div class="col-md-4"></div>


        </div>
    </div> <!-- Close container -->

    {{/* Import stylesheets and css stuff */}}
    {{ template "style_css"}}
  </body>
</html>
