{{/* Set title of the page here! */}}
{{ $title := "User public activity" }}

<!doctype html>
<html>
  <head>
    {{ template "head" }}
    <title>{{ $title }} {{ .user.Username }}</title>
  </head>

  <body>
    {{/* Set title of the page here! */}}
    {{ with $title := $title }}
      {{ template "navbar" .}}
    {{ end }}

    <div class="container-fluid"> {{/* Your page content here */}}
      <h2>{{.user.Username}}'s public activity</h2>

      <div class="row">
        <div class="col-md-6">
          <h4>Public decks</h4>
          <ul>
            {{ range $deck := .decks }}
              <li><a href="/deck/export/{{$deck.ID}}">{{$deck.Title}}</a></li>
            {{ end }}
          </ul>
        </div>

        <div class="col-md-6">
          <h4>Latest activity</h4>
          <ul>
            <li>Last update 1</li>
            <li>Last update 2</li>
          </ul>
        </div>
      </div>

    </div> <!-- Close container -->

    {{/* Import stylesheets and css stuff */}}
    {{ template "style_css"}}
  </body>
</html>
