div.container-fluid {
    width: 90%;
    border: auto ;
}

textarea.latex-input-area {
    width: 100% ;
    height: 200px;
    resize: none ;
    border: 1px solid #CCC ;
    padding: 5px;
    padding-left: 10px;
}

/*
div.container-fluid:nth-child(4) {
 div.container-fluid > div {
    border: 1px solid black;
    margin: 5px ;
    padding: 1px;
}

*/

div#front-render-target {
    padding: 15px;
    min-height: 200px ;

    border: 1px solid #CCC ;
    border-radius: 25px;
}


div#back-render-target {
    padding: 15px;
    min-height: 200px ;

    border: 1px solid #CCC ;
    border-radius: 25px;
}

div.flashcard-create-buttons {
  margin-top: 25px ;
}
